@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #333333;
  --color-foreground: #F8F8F8;
  --font-family-murecho: "Murecho", sans-serif;
}

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family-murecho);
  }

  h1 {
    @apply text-[5rem] font-bold;
  }

  h2 {
    @apply text-[2.5rem] font-bold;
  }

  a {
    @apply text-foreground no-underline;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: -0.5rem;
    text-decoration-skip-ink: none;
  }
}
